* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    z-index: 99999;
    top: 0;
    background-color: #171717;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    height: 100%;
    width: 350px;
    transition: .5s ease-out;
    left: -350px;

    @mixin atMedium {
        width: 100%;
        height: auto;
        left: 0;
        background-color: #fff;
    }
}

main {
    transition: .5s ease-out;
    position: relative;
    right: 0;
}

body {
    font-family: 'Open Sans', roboto, sans-serif;
    background: url(images/filler/crossword.png) top left repeat;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

h2 {
    font-size: 20px;
}