.color-dots-1::after {
        background-color: #6fc191;
}
.color-dots-2::after {
        background-color: #edbf47;
}
.color-dots-3::after {
        background-color: #ec774b;
}
.color-dots-4::after {
        background-color: #e16c6c;
}
.color-dots-5::after {
        background-color: #74cee4;
}
.color-dots-6::after {
        background-color: #c389ce;
}
.color-dots-7::after {
        background-color: #edbf47;
}
.color-dots-8::after {
        background-color: #516ff5;
}
.color-dots-9::after {
        background-color: #f835ad;
}