.custom-form {
    

    &__form-input {
        position: relative;
        display: block;
        width: 100%;
        margin-top: .25rem;
        padding-left: 7px;
        padding-right: 7px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        line-height: 2rem;
    }

    textarea {
        resize: none;
        height: 150px;
    }

    input:focus, textarea:focus {
        outline: none;
    }

    .btn {
        font-weight: 400;
    }

    .form__group {
        margin-bottom: 1.7rem;
    }
}