.docs {
    background-color: #e2993a;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;

    &__tab {
        margin: 0 auto;
        background-color: white;
        border-radius: 10px;
        width: 70%;

        @mixin atSmall {
            box-shadow: 5px 10px 15px rgba(70, 61, 61, 0.5);
        }
    }

    &__files {

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: .7rem 0 1.1rem;

            li {
                margin: 0 5px;
            }
        }

        ul .documents-img {
            width: 200px;
            height: 300px;
            cursor: pointer;
            transition: 0.4s;
            display: block;
            border: solid 1px gray;
            border-radius: 5px;
        }

        ul .documents-img:hover {
            opacity: 0.7;
        }

        ul a {
            height: 300px;
            width: 200px;
            color: black;
            font-size: 3rem;
            text-align: center;
            padding-top: 50%;
        }
    }

    .preview {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        overflow: auto;
    }

    .preview img {
        position: absolute;
        width: auto;
        height: 100%;
        z-index: 10;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .pre {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: rgba(51,51,51,0.7);
        z-index: 10;
        display: none;
    }
}