.event {

    margin-top: .5rem;
    margin-bottom: 1.5rem;

    @mixin atMedium {
        max-width: 65%;
    }
    @mixin atLarge {
        max-width: 1000px;
    }
    p {
        margin-top: 1.4rem;
    }

    &__container {
    }

    &__bg-photo {
        position: relative;
        background: url('./assets/images/children-play.jpeg');
        background-size: cover;
        width: 100%;
        height: 350px;
        overflow: hidden;
        box-shadow: inset 0 0 0 1000px rgba(255, 164, 27, .85);

        @mixin atSmall {
            height: 350px;
        }
        @mixin atMedium {
            height: 550px;
        }
    }

    &__photo {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        height: 100%;
        object-fit: cover;
        width: auto;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 0 0 10px rgb(255, 255, 255),
                    0 0 15px 11px rgb(0,0,0, .25);

        @mixin atMedium {
            max-height: 450px;
        }
    }
}