.feedback {
    margin-top: 1.5rem;
    
    &__is-invalid {
        border-color: red;
    }

    &__invalid {
        position: absolute;
        display: block;
        margin-bottom: 15px;
        color: red;
    }
}