.our-mission {
    background-color: #e2993a;
    margin-top: -47px;

    &__title {
        margin-bottom: 10px;
    }

    &__text {
        margin: 0px;
        

        @mixin atMedium {
            max-width: 600px;
        }
    }

    &__img {
        display: block;
        float: left;
        position: relative;
        width: 55px;
        height: 55px;

        @mixin atMedium {
            width: 70px;
            height: 70px;
        }
    }

    &__content {
        float: left;
        margin-left: 20px;

        @mixin atMedium {
            margin-left: 50px;
        }
    }

    &__goal {
        display: flex;
        align-items: center;
        @mixin clearfix;
        width: 90%;
        height: auto;
        margin: 15px 10px 0px 10px;

        @mixin atMedium {
        margin: 15px 60px 0px 60px;
        }
    }

    

    &__tab-large {
        padding-bottom: 35px;
        padding-top: 1px;
        border-radius: 5px;
        margin: 3rem auto 2rem;
        background-color: white;
        width: 100%;

        @mixin atMedium {
            width: 75%;
            position: relative;
            box-shadow: 5px 10px 15px rgba(70, 61, 61, 0.5);

        }
    }

    &__tab-small {
        border-radius: 5px;
        margin-bottom: 2rem;
        background-color: white;

        @mixin atMedium {
            width: 30%;
            margin-left: 1rem;
            box-shadow: 5px 10px 15px rgba(70, 61, 61, 0.5);

        }
    }

    &__documents {
        margin-left: 1rem;
        margin-right: 1rem;

        @mixin atMedium {
            margin-left: 2.1rem;
            margin-right: 2.1rem;
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: center;
        }

        li {
        }

        ul img {
            width: 65%;
            margin: 0 auto;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.4s;
        }

        ul img:hover {
            opacity: 0.8;
        }

        .preview {
            position: fixed;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            overflow: auto;
        }

        .preview img {
            width: 100%;
            height: auto;
            z-index: 10;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .pre {
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(51,51,51,0.7);
            z-index: 10;
            display: none;
        }
    }
}