.site-footer {
    background-color: #404547;
    color: #FFF;
    padding: 0 0 .5rem 0;
    text-align: center;

    &__text {
        display: block;
        margin-bottom: 1rem;
        font-weight: 200;

        @mixin atMedium {
            display: inline;
            margin-bottom: 0;
            margin-right: 1.4rem;
        }
    }

    &__subfooter {
        background-color: $mainGray;
        text-align: left;
        padding-bottom: 3.5rem;
    }
    &__subfooter-container {
        padding-bottom: 1.5rem;

        h2 {
            margin-bottom: 2rem;
        }

        ul {
            list-style: none;
            padding-left: 0;
            margin-top: 2.3rem;
            line-height: 2rem;

            .fas, .far {
                background-color: $mainOrange;
                width: 30px;
                height: 30px;
                text-align: center;
                margin-bottom: 10px;
                margin-right: .8rem;
                padding: 7px 7px 5px 5px;
                border-radius: 3px;

            }
        }
    }
}