.about-page {
    
    p {
        line-height: 1.4;
        margin: .6rem 0;
        color: $secondaryGray;
    }

    

    &__company-info {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;

        @mixin atMedium {
            flex-direction: row;
        }
    }

    &__bio {
        flex-basis: 100%;
        text-align: justify;

        @mixin atMedium {
            flex-basis: 65%;
        }
        @mixin atLarge {
            flex-basis: 75%;
        }
    }

    &__side-menu {
        width: 100%;
        background-color: #fff;
        border-top: 1px $mainGray solid;
        align-self: flex-start;
        margin-bottom: 2rem;

        @mixin atMedium {
            border-right: 1px $mainGray solid;
            margin-bottom: 0;
            margin-top: 3rem;
            flex-basis: 30%;

        }

        @mixin atLarge {
            flex-basis: 20%;

        }

        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
            border-bottom: 1px $mainGray solid; 

            @mixin atMedium {
                border-left: 4px $mainGray solid;

            }
        }
        .active {

            @mixin atMedium {
                border-left: 4px $mainOrange solid;

            }
        }
    }


    &__side-menu-list {
        width: 100%;

        li {
            border-bottom: 1px $mainGray solid;
            transition: border, color .2s ease-out;

            @mixin atMedium {
                border-left: 4px $mainGray solid;

            }
        }

        a {
            display: block;
            padding: 1rem;
        }

        li:hover {
            @mixin atMedium {
                border-left: 4px $mainOrange solid;
                color: $mainOrange;
            }
        }

        
    }


    &__team {
        width: 100%;

        @mixin atMedium {
            width: 65%;
            
        }
        @mixin atLarge {
            width: 75%;
        }
    }

    &__team-title {
        margin-bottom: -1rem;
    }

    &__team-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 0 0 100%;
        flex-basis: 150px;
        padding-bottom: 8px;
    }

    &__team-plate {
        flex-basis: 100%;
        background-color: #fff;
        border: 1px $mainGray solid;
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        margin-top: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        @mixin atSmall {
            flex-basis: 49%;

        }
        @mixin atMedium {
            flex-basis: 49%;

        }
        @mixin atLarge {
            flex-basis: 32%;

        }

        h3 {
            font-size: 15px;
        }

        p {
            font-size: 14px;
        }
        
    }

    &__team-plate-img {
        position: relative;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: top;
            border-bottom: 4px solid $mainOrange;

            @mixin atMedium {
                height: 220px;

            }
        }

    }

    &__team-plate-title {
        display: inline-block;
        background-color: $mainOrange;
        border-radius: 3px;
        color: white;
        padding: 6px;
        position: absolute;
        left: 25px;
        bottom: -10px;
    }

    &__team-plate-content {
        padding: 1.2rem .6rem .1rem;
        text-align: justify;
    }


    .current_page_item {
        @mixin atMedium {
                border-left: 4px $mainOrange solid;
                color: $mainOrange;
        }        
    }

    &__single {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        ul {
            list-style: disc;
            margin-left: 20px;
        }

        @mixin atMedium {
            flex-direction: row;

        }

        h3 {
            display: inline;
            color: $mainOrange;
        }

        p {
            margin: 8px 0;
            padding: 0;
        }
    }

    &__single-img {
        flex-basis: 25%;

        img {
            width: 100%;
            height: 400px;
            object-fit: contain;
            object-position: top;

            @mixin atMedium {
                height: 300px;

            }
        }
    }

    &__single-bio {
        flex-basis: 70%;

    }
}