.about-page {


    
    p {
        line-height: 1.4;
        margin: .6rem 0;
        color: $secondaryGray;
    }

    span {
        display: inline-block;
        background-color: $mainOrange;
        border-radius: 3px;
        color: white;
        padding: 6px;
        position: absolute;
        left: 25px;
        bottom: -10px;
    }

    &__company-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__bio {
        width: 100%;
        text-align: justify;

        @mixin atMedium {
            width: 48%;
        }
    }

    &__img {
        width: 48%;
        display: none;

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;

        }

        @mixin atMedium {
            display: block;
        }
    }

    &__team {
        margin-top: 3rem;
    }

    &__team-title {
        margin-bottom: -1rem;
    }

    &__team-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 0 0 100%;
        flex-basis: 150px;
        padding-bottom: 8px;
    }

    &__team-plate {
        flex-basis: 100%;
        background-color: #fff;
        border: 1px $mainGray solid;
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        margin-top: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

        @mixin atSmall {
            flex-basis: 49%;

        }
        @mixin atMedium {
            flex-basis: 32%;

        }
        @mixin atLarge {
            flex-basis: 23%;

        }
        
    }

    &__team-plate-img {
        position: relative;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center;
            border-bottom: 4px solid $mainOrange;

            @mixin atMedium {
                height: 180px;

            }
        }

    }

    &__team-plate-content {
        padding: 1.5rem 1.4rem .5rem;
        text-align: justify;
    }
}