.news-box {
    border: 1px $mainGray solid;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    flex: 0 0 100%;

    @mixin atMedium {
        flex: 1 1 365px;
        margin-right: 1rem;
    }

    &:last-child {

        @mixin atMedium {
            margin-right: 0;
        }
    }

    h2 {
        margin-bottom: .5rem;
        font-size: 16px;

        a {
            color: black;  
            transition: .2s ease-out; 
        }

        a:hover {
            text-decoration: underline;
            color: #3b3a3a;
        }
    }


    p {
        line-height: 1.4;
        color: #727171;
        margin-bottom: 1.5rem;
        font-size: 15px;
    }

    &__img {
        position: relative;
        border-bottom: 5px solid $mainOrange;

        img {
            display: block;
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;

            @mixin atLarge {
                height: 190px;

            }
        }
    }

    &__date {
        display: inline-block;
        background-color: $mainOrange;
        border-radius: 0 0 3px 3px;
        color: white;
        padding: 2px 6px;
        position: absolute;
        left: 25px;
        top: calc(100% + 1px);
    }

    &__content {
        padding: 1rem 1rem;
        text-align: justify;

        @mixin atMedium {
            padding: 2rem 2rem;

        }
    }

    .btn {
        padding: 5px 5px 5px 0;
    }
}