.primary-nav {
    width: 100%;

    @mixin atMedium {
        background-color: #171717;
    }

    a {
        color: #fff;
        font-weight: 400;
        font-size: 1.3rem;
        transition: color .2s ease-out;
        text-transform: uppercase;

        @mixin atMedium {
            font-size: 14px;
        }
    }
    
    a:hover {
        color: $mainOrange;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 90%;
        margin-top: .2rem;
        
        li {
            display: block;
            margin: 0 1rem;
            padding: 1.3rem 0 .3rem;
            border-bottom: 1px #fff solid;
            width: 100%;
            position: relative;

            @mixin atMedium {
                border: none;
                width: auto;
                padding: .3rem 0;
            }
        }

        @mixin atMedium {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 70%;
            margin-top: 0;
            margin: 0 auto;
        }
    }

    &__dropdown {
        background-color: #171717;
        position: absolute;
        color: #fff;
        left: 0;
        top: 100%;
        list-style: none;
        display: none;
        transition: .5s ease-out;
        white-space: nowrap;

        li {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            display: block;
        }

        li:last-child {
            padding-bottom: 8px;
        }

        a {
            padding: 0 10px;
            display: block;
            width: 100%;
        }
    }

    ul li:hover > ul,
    ul li ul:hover {

        @mixin atMedium {
            display: block;
        }
    }

    &__home {
        font-size: 30px;
        margin-right: 0px;
        padding: 5px 25px 5px 0;

        @mixin atMedium {
            border-right: 1px solid rgba(0,0,0,.1);
            font-size: 20px;
        }
    }

}