.site-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    top: 0;
    left: 0;
    transition: .5s ease-out;
    position: relative;
    overflow-x: hidden;
    z-index: 10;
    height: auto;

    @mixin atMedium {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        flex-wrap: wrap;
    }

    &__mobile-widget {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 54px;
        margin-left: 11px;

        

        @mixin atMedium {
            width: auto;
            margin-top: 0;
            font-size: 15px;
            margin-left: auto;
        }

    }

    &__mobile-widget-box {
        color: #fff;
        border: 1px $secondaryGray solid;
        border-radius: 3px;
        margin: 5px;
        width: 90%;

        @mixin atMedium {
            border: none;
            margin: 0;
            width: 100%;
        }

        li {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
        }

        i, p {
            padding: 8px;

            @mixin atMedium {
                padding: 3px;

            }
        }

        i {
            border-right: 1px $secondaryGray solid;
            font-size: 12px;

            @mixin atMedium {
                font-size: 12px;
                color: $mainOrange;
                border-right: none;
                padding-right: 8px;
            }
        }

        p {
            color: $mainOrange;
        }
    }

    &__mobile-widget--invisible-medium {
        
        @mixin atMedium {
            display: none;
        }
    }

    &__btn {
        padding: 8px 10px;
        justify-self: flex-end;
        margin-left: 20px;
        display: none;
        transition: .2s ease-out;

        @mixin atMedium {
            display: block;
        }
    }

    &__btn:hover {
        color: $mainOrange;
    }
    
}

.site-header__x {
    position: absolute;
    top: 11px;
    right: 13px;
    font-size: 26px;
    color: #fff;
    z-index: 15;
    border: 1px #fff solid;
    border-radius: 4px;
    padding: 0 10px;

    @mixin atMedium {
        display: none;
    }
}