body {
    font-family: sans-serif;
    color: #606060;
}
img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: #FFF;
    text-decoration: none;

     .fas {
        vertical-align: middle;
        -webkit-text-stroke: 1px white;
     }
}
